*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: "circular";
   font-size: 16px;
}
@font-face {
    font-family: "circular";
    src: url(/fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: "circular-m";
    src: url(/fonts/CircularStd-Medium.otf);
}

ul{
    list-style-type: none;
}
.section1{
    height:686.48px;
    background-color: black;
}


.section2 {
    height: 595.5px;
 
}
.section2 .bg-black{
    height: 297.75px;
    background-color: black;
    padding: 0% 80px;

}
.bg-black .herohouse{
    background-image: url("/images/hero-House.jpg");
    background-size: contain;
    width: 1189px;
    height: 594.5px;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.herohouse .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 408px;
}
.herohouse .container .btn button{
    background-color: white;
    border-color: white;
    border-radius: 30px;
    padding: 14px 32px ;
    width: 161px;
    height: 56px;
    margin-top: 25px;
    font-size: 18.5px;
    cursor: pointer;
    line-height: 1.43;
    color: rgb(145,1,144);
    font-family: circular-m;
}

.section3{
    height: 553.31px;
}
.section3 .under-cards-body .text h2{
    margin-top:20px ;
    margin-left: 16px;
 
    height: 100%;
    color: white;
    font-size: 27px;

    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.section3 .under-cards-body .text2 p{
    margin-top: 10px;
    margin-left: 16px;
    font-size: 15px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: white;
}
.section3 .under-cards-body .text1 h2{
    margin-top:20px ;
    margin-left: 16px;
    height: 100%;
    color: white;
    font-size: 27px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.section3 .under-cards-body .text2 p{
    margin-top: 10px;
    margin-left: 16px;
    font-size: 15px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: white;
}
.section3 .under-cards-body .text3 h2{
    margin-top:20px ;
    margin-left: 16px;
    height: 100%;
    color: white;
    font-size: 27px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.section3 .under-cards-body .text2 p{
    margin-top: 10px;
    margin-left: 16px;
    font-size: 15px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: white;
}
.section3 .under-cards-body .text4 h2{
    margin-top:20px ;
    margin-left: 16px;
    height: 100%;
    color: white;
    font-size: 27px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.section3 .under-cards-body .text2 p{
    margin-top: 10px;
    margin-left: 16px;
    font-size: 15px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: white;
}
.section4{
    height: 859.5px;
    vertical-align: bottom;
}

.section5{
    height: 449.66px;
}
.section5 .btn button{
     margin-top: 35px;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    height: 48px;
    width: 133px;


}
.section6 { 
    height: 674.5px;
    vertical-align: bottom;
  
  }
  .section6 .questions{
      background-image: url("/images/questions.jpg");
      background-size: contain;
      height: 674.5px;
      background-repeat: no-repeat;
  }
  .section6 .questions h1{
      padding-top: 80px;
      padding-left: 80px;
      line-height: 1;
  }
  .section6 .questions .btn button{
      margin-top: 236px;
      margin-left: 80px;
      background-color: white;
      font-family: circular-m, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
      cursor: pointer;
      border-radius: 10px;
      width: 170px;
      height: 48px;
  }



.section6 { 
  height: 674.5px;
  vertical-align: bottom;

}
.section6 .questions{
    background-image: url("/images/questions.jpg");
    background-size: contain;
    height: 674.5px;
    background-repeat: no-repeat;
}
.section6 .questions h1{
    padding-top: 80px;
    padding-left: 80px;
    line-height: 1;
}
.section6 .questions .btn button{
    margin-top: 236px;
    margin-left: 80px;
    background-color: white;
    font-family: circular-m, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
    border-radius: 10px;
    width: 170px;
    height: 48px;
}

.section7{

  height: 279px;
  margin-top: 48px;
  margin-bottom: 64px;
}
.section8{

    height: 399px;
    background-color: #F7F7F7;
  }
.container{
    max-width: 1349px;
    margin: 0 80px;

}


.navbar .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 80px;
    cursor: pointer;

}


.navbar .container img{
    height: 34px;
    margin-top: 5px;
}
.navbar .container ul{
    display: flex;
}

.center-links{
    align-items: center;
    margin-left: 150px;
   }

   a{
    color: white;
    text-decoration: none;
   }
.center-links a{
  
    height: 40px;
    padding:  10px 18.7px;


        
    
}
.center-links a:hover{
  
    color: rgb(200, 200, 204);
    border-bottom: 1px white solid;
}

.lefside-nav{
    display: flex;
      justify-content: center;
    align-items: center;
    height: 80px;
    
    
}
.container .lefside-nav .btn-become-host{
        color: white;
        
        height: 42px;
        padding:  10px 18.7px;
     
    }
    .container .lefside-nav .btn-become-host a{
        font-size: 15px;
        text-decoration: none;
        
    }
.container .lefside-nav .btn-become-host:hover{
 background-color: rgba(72, 72, 75, 0.432);
 border-radius: 50px;
    }
 .container .lefside-nav .region{
    color: white;
    align-items: center;    
    width: 48px;
    height: 42px;
    padding:  10px ;
}
.container .lefside-nav .region:hover{
    background-color: rgba(72, 72, 75, 0.432);
    border-radius: 100%;
}

.container .lefside-nav .nav-menu{
    display: flex;
    align-items: center; 
    width: 77px;
    height: 42px;
    padding:  10px 15px;
    background-color: white;
    border-radius: 50px;
}
.section-header .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-header .container .search-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:  849.02px; 
    height: 66px;
    background-color: white;
    border-radius: 40px;
}

.search-header .elements .content {
    
  max-width:  849.02px; 
    
}
 .elements .content{
    margin-left: 33px;
    margin-top: 15px;
}




.search-header .elements:nth-of-type(1){

    border-right: 1px solid #DDDDDD;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF385C;
    margin-right: 11px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.search-header .elements:hover{

    background-color: #EBEBEB;
    border-radius: 40px;
}

.section-header .container .pink-card {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center; 
width: 100%;
height: 368px;
margin-top: 77px;
background-color: #FF385c;
border-radius: 15px;
}
.section-header .container .pink-card .content h1{
    color: white;
    font-size: 38px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.section-header .container .pink-card .btn{
    color:white;
    background-color: #FF385c;
    border-radius: 10px;
    border-color: white;
    padding: 8px 16px;
    border: solid;
    cursor: pointer;
    border-width: thin;
    margin-top: 24px;
}


.body-elements .container{
    display: flex;
    margin-top: 0;
}

.body-elements .container .top-text-body h1{
    margin-top: 96px;
    font-size: 33px;
    color: black;
    width: 414px;
    height: 85px;
 
}

.cards-body .container{
    display: flex;
   justify-content: space-between;
}

.cards-body .container img{
    width: 279.25px;
    height: 186.16px;
    border-top-left-radius:   15px;
    border-top-right-radius: 15px;
    vertical-align: bottom;
}
.under-cards-body .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.under-cards-body .container .color-cards{
    width: 279.25px;
    height: 186.16px;
    border-bottom-left-radius:  15px;
    border-bottom-right-radius: 15px;
    
}
.under-cards-body .container .color-cards:nth-of-type(1)
{
    background-color: #cc2d4a;
}

.under-cards-body .container .color-cards:nth-of-type(2)
{
    background-color: #de3151;
}

.under-cards-body .container .color-cards:nth-of-type(3)
{
    background-color: #d93b30;
}

.under-cards-body .container .color-cards:nth-of-type(4)
{
    background-color: #bc1a6e;
}

.body-elements .container .bottom-text-body h1{
    margin-top: 96px;
    font-size: 33px;
    color: white;
    width: 100%;
    height: 85px;
    font-family: circular;
 
}

.cards-experience .container{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  
}

.cards-experience .container .cards{
    width: 583px;
    height: 583px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

.cards .container{
    display: flex;
    flex-direction: column;
}
.body-elements .container .gift-text-body h1
{
    font-size: 41px;
    width: 229.73px;
    height: 92px;
}


.gift-card  .container  img{
    
     width: 120%;
    height: 449.66px ;
     object-fit: cover;
    object-position: left;  
    margin-left: 75px;
}

.section8 .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}

.section8 .container ul{
    width: 279px;
   
   margin-top: 48px;
}






.section8 .container ul li a{
    height: 18px;
    line-height:2.6;
    color: black;
    font-size: 14px;
    font-family: circular;   
}
.left-side ul {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    
}

.left-side ul li{
    margin-left: 19px;
    font-size: 14px;
    font-family: circular;
    
   
}
.left-side ul li a{
color: black;
font-family: circular;
font-size: 14px;
}

.left-side ul li a i{
    font-size: 20px;
}